body{
	
	font-family: 'Quicksand', sans-serif;
	background:url(../images/lined-bg.png);
	
}

body h1, h2, h3, h4, h5 {

	font-family: 'Quicksand', sans-serif;
	margin: 0;
	color:black;
}

header{
	
	width:100%;
	height:50px;
	background: #E0E0E0 ;
	position:fixed;
	margin-top:-25px;
}



/***MEDIA QUERIES FOR SIDEBAR AND MOBILE MENU **/

@media screen and (max-width: 450px) {
    .sidebar{
        display: none;
    }

    .mobile_nav{

    	display:show;
    }
}





a:hover{
	color:black;
}

/***CSS STYLES FOR FOUNDATION TOP BAR */

.top-bar{
	background-color: #A8A8A8;
	position:fixed;
	width:100%;
	z-index: 2;
	top: 0;
}

.top-bar-section li:not(.has-form) a:not(.button){

	background:#A8A8A8;
}

.toggle-topbar img{

	width:25px;
}

.has-dropdown img{

	width:25px;
	margin-right:5px;
}

.top-bar-section ul li>a{

		font-family: 'Quicksand', sans-serif;
		font-size:16px;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button){

	background:#A8A8A8;
}


.name{
	height: 45px;
	width: 200px;
}

.name a{
	height: 45px;
	display: block;
	padding:0px;
	background-image: url("../images/logo/Logo_Light-10.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin:0px 10px;
}

/**-------------*/

/**Styles for Sticky Sidebar */



.sidebar{
	
	width:auto;
	background:#A8A8A8;
	float:left;
	height:100%;
	position:fixed;
	z-index: 2;
}

.sidebar ul{
	float:left;
	height:auto;
	width: auto;
	position:relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar:hover{
	width: auto;
}

.sidebar ul li{
	height:auto;
	position:relative;
	display: block;
	margin:0;
	padding: 0;
	text-align: left;
}

.sidebar ul li a img{
	width:20px;
	display: inline-block;
}

.sidebar ul li a{
	width: 100%;
  	height: auto;
  	position: relative;
	display: inline-block;
	padding: 8px 10px;
}

.sidebar ul li a p{
	display: none;
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom:0;
}

.sidebar:hover p{
	display: inline-block;
}

.sidebar ul li a{
	background-color:#A8A8A8;
	color:#EEECE6;
	transition: background-color 0.5s ease;
}

.sidebar ul li a:hover{
	color:black;
}

#animationBackground:hover{
	background-color: #6181C1;
}
#fineartBackground:hover{
	background-color: #8770B2;
}
#culinaryBackground:hover{
	background-color: #F3E885;
}
#fashionBackground:hover{
	background-color: #8CD3DC;
}
#graphicBackground:hover{
	background-color: #F37B76;
}
#interiorBackground:hover{
	background-color: #D68CBC;
}
#photographyBackground:hover{
	background-color: #94CA5E;
}
#websiteBackground:hover{
	background-color: #ECC671;
}




/**----Styles For Icons----**/

.icon-area{
	height: 49px;
	width: auto;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 15px;
	background-size: 25px;
}
.an-drk{
	background-image: url("../images/icons/dark/an_drk.svg");
}
.an-drk:hover{
	background-image: url("../images/icons/light/an_lgt.svg");
}
.art-drk{
	background-image: url("../images/icons/dark/art_drk.svg");
}
.art-drk:hover{
	background-image: url("../images/icons/light/art_lgt.svg");
}
.cul-drk{
	background-image: url("../images/icons/dark/cul_drk.svg");
}
.cul-drk:hover{
	background-image: url("../images/icons/light/cul_lgt.svg");
}
.fash-drk{
	background-image: url("../images/icons/dark/fash_drk.svg");
}
.fash-drk:hover{
	background-image: url("../images/icons/light/fash_lgt.svg");
}
.gd-drk{
	background-image: url("../images/icons/dark/gd_drk.svg");
}
.gd-drk:hover{
	background-image: url("../images/icons/light/gd_lgt.svg");
}
.id-drk{
	background-image: url("../images/icons/dark/id_drk.svg");
}
.id-drk:hover{
	background-image: url("../images/icons/light/id_lgt.svg");
}
.pht-drk{
	background-image: url("../images/icons/dark/pht_drk.svg");
}
.pht-drk:hover{
	background-image: url("../images/icons/light/pht_lgt.svg");
}
.web-drk{
	background-image: url("../images/icons/dark/web_drk.svg");
}
.web-drk:hover{
	background-image: url("../images/icons/light/web_lgt.svg");
}


/**-------------*/


.wrapper{
	margin-top:45px;
}


.hero{
	width:100%;
	min-height: 500px;
	position: relative;
	background:black;
	background:url(../images/projects/spring_flower.jpg);
	background-size:100% auto;
  	background-repeat: no-repeat;
  	background-position: center;
}

.hero_desc{
	position: absolute;
	bottom: 10px;
	padding:10px 10px 10px 55px;
	width:50%;
	background-color: rgba(255,255,255,0.75);
}

/**styles for top rated thumbnails */

.thumbnails{

	margin-top:30px;

	}

.box{
	width:auto;
	padding-top: 80%;
	position: relative;
	margin-bottom: 5px;
	display: block;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	background-color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.box span {
    background: rgb(238,236,230); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(238,236,230,0.5) 0%, rgba(238,236,230,0.5) 50%, rgba(168,168,168,0.5) 50%, rgba(168,168,168,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,236,230,0.5)), color-stop(50%,rgba(238,236,230,0.5)), color-stop(50%,rgba(168,168,168,0.5)), color-stop(100%,rgba(168,168,168,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(238,236,230,0.5) 0%,rgba(238,236,230,0.5) 50%,rgba(168,168,168,0.5) 50%,rgba(168,168,168,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(238,236,230,0.5) 0%,rgba(238,236,230,0.5) 50%,rgba(168,168,168,0.5) 50%,rgba(168,168,168,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(238,236,230,0.5) 0%,rgba(238,236,230,0.5) 50%,rgba(168,168,168,0.5) 50%,rgba(168,168,168,0.5) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(238,236,230,0.5) 0%,rgba(238,236,230,0.5) 50%,rgba(168,168,168,0.5) 50%,rgba(168,168,168,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeece6', endColorstr='#a8a8a8',GradientType=0.5 ); /* IE6-9 fallback on horizontal gradient */
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.box:hover span { opacity: 0.75; }


/** thumbnail images displayed beneath hero image, top rated of the week */

/**CSS FOR PROJECT PAGE */


.project{
	margin:0 auto;
	margin-top:20px;
}

.project_feat{

	margin:0 auto;
	margin-top:25px;
}

.project img{

	float:right;
}

.project h4{

	color:#F37B76;
	background:white;
	line-height: 2;
	}

.project h5{
	background: white;
	line-height: 2;
}

.project p{
 
	background:white;
	line-height: 2;
	font-size:14px;
}
/**styles for profile page */

.profileHead{
	padding-top:2.8125rem;
	width:100%;
	height: 350px;
	background:black;
	background:url(../images/projects/spring_flower.jpg);
	background-size:100% auto;
  	background-repeat: no-repeat;
  	background-position: center;
  	position: relative;
}

.profileDesc{
	margin:0;
	padding:0 15px;
	background-color: rgba(255,255,255,0.75);
	bottom: 10px;
	right:0;
	width:75%;
	position: absolute;
	
}

.profileAvatar{
	height:16%;
	padding-bottom: 25%;
	width: 25%;
	background-color: white;
	bottom: 0;
	left: 0;
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.5);
	z-index:1;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	border:10px solid white;
}

.bio{
	height: auto;
	background-color: white;
}

.bio p{
	padding: 0;
	margin: 0;
}

.profileProjects{
	
}

footer{

	height:35px;
	background:#EEECE6;
}

footer a{

	float:right;
	margin-right:25px;
	color:black;
	margin-top:5px;
	text-decoration:none;
	
}	

footer a:hover{

	color:#A8A8A8;
}
