body{
	
	font-family: 'Quicksand', sans-serif;
	background:url(../images/lined-bg.png);
	
}

body h1, h2, h3, h4, h5 {

	font-family: 'Quicksand', sans-serif;
}

header{
	
	width:100%;
	height:50px;
	background: #E0E0E0 ;
	position:fixed;
	margin-top:-25px;
}

/***CSS STYLES FOR FOUNDATION TOP BAR */

.top-bar{
	background-color: #A8A8A8;
	position:fixed;
	width:100%;
}


/**-------------*/

/**Styles for Sticky Sidebar */

.sidebar{
	
	width:50px;
	background:#A8A8A8;
	float:left;
	height:100%;
	position:fixed;
	margin-top: 53px;
}

.sidebar ul{

	list-style-type: none;

}

.sidebar ul li a img{

	width:25px;
	margin-left:-6px;
	margin-top:10px;
}

/**-------------*/



.hero{
	width:100%;
	min-height: 500px;
	background:black;
	background:url(../images/projects/spring_flower.jpg);
}

.hero_desc{

	margin-top:300px;
	padding:5%;
	width:50%;
}

/**styles for top rated thumbnails */

.thumbnails{

	margin-top:30px;

	}


/** thumbnail images displayed beneath hero image, top rated of the week */

/**CSS FOR PROJECT PAGE */


.project{
	margin:0 auto;
	margin-top:20px;
}

.project_feat{

	margin:0 auto;
	margin-top:75px;
}

.project img{

	float:right;
}

.project h4{

	color:#F37B76;
}
footer{

	height:35px;
	background:#EEECE6;
}

footer a{

	float:right;
	margin-right:25px;
	color:black;
	margin-top:5px;
	text-decoration:none;
	
}	

footer a:hover{

	color:orange;
}
